body {
    font-family: 'Courier New', Courier, monospace !important;
    color: #FFFFFF !important;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg);
    background-size: cover;
    overflow: hidden;

    .container.hoverTetris {
        height: 100vh;
        width: 100vw;

        .row.svg {
            bottom: 41%;

            svg {
                width: 20vw;
                height: 100vh;

                .cls-1 {
                    fill: none;
                    stroke: transparent;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 1px;

                    & {
                        animation: text 5s 1s infinite;
                    }
                }
            }
        }

        .row.blocks {
            bottom: 0%;

            svg {
                width: 21vw;
                height: 70vh;
                margin-bottom: 3em;

                .l {
                    fill: #f15a24;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                .biggerL {
                    fill: #E71D36;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                .line {
                    fill: #2EC4B6;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                .line2 {
                    fill: #E71D36;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                .square {
                    fill: #388659;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                .square2 {
                    fill: #FF4E00;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                .weird1 {
                    fill: #FF9F1C;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                .mount {
                    fill: #2E86AB;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                .invertedI {
                    fill: #FF9F1C;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.05px;
                }

                #line {
                    animation: falling 3s 2s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                }

                #square {
                    animation: falling 3s 5s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                } 

                #l {
                    animation: falling 3s 8s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                }

                #line2 {
                    animation: falling 3s 11s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                } 

                #weird1 {
                    animation: falling 3s 14s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                } 

                #mount {
                    animation: falling 3s 17s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                } 

                #biggerL {
                    animation: falling 3s 20s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                }

                #square2 {
                    animation: falling 3s 23s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                } 

                #invertedI {
                    animation: falling 3s 26s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                }
    
                #border {
                    stroke-width: 0.3px;
                    stroke-dasharray: 0.5;
                    stroke: red;
                    animation: line 1s 29.5s forwards;
                    transform-origin: 50% -50%;
                    opacity: 0;
                }
            }
        }
    }
}

@keyframes falling {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    10% {
        transform: translateY(2px);
        opacity: 1;
    }
    20% {
        transform: translateY(4px);
        opacity: 1;
    }
    30% {
        transform: translateY(6px);
        opacity: 1;
    }
    40% {
        transform: translateY(8px);
        opacity: 1;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
    60% {
        transform: translateY(12px);
        opacity: 1;
    }
    70% {
        transform: translateY(14px);
        opacity: 1;
    }
    80% {
        transform: translateY(16px);
        opacity: 1;
    }
    90% {
        transform: translateY(18px);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

@keyframes line {
    from {
        stroke-dasharray: 0;
        opacity: 1;
    }

    to {
        stroke-dasharray: 0.5;
        opacity: 1;
    }
}

@keyframes text {
    0% {
        stroke-dasharray: 0 1400;
        stroke: #fff;
    }

    70% {
        stroke-dasharray: 1400 0;
        stroke: #fff;
    }

    100% {
        stroke-dasharray: 0 1400;
        stroke: #fff;
    }
}