body {
    font-family: 'Courier New', Courier, monospace !important;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg);
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.animation {
    width: 100%;
    height: 100vh;

    .container {
        .row.title {
            top: 10%;

            h3 {
                font-weight: 500;
                font-size: 4em;
                text-transform: uppercase;
                letter-spacing: 10px;
                background: linear-gradient(90deg, transparent, #fff, transparent);
                background-repeat: no-repeat;
                background-size: 80%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(255, 255, 255, 0.01);
                animation: textAnimation 4s linear infinite;
            }
        }

        .row.svg {
            bottom: 5%;

            h4 {
                animation: hiddenShow 0s 1s forwards;
                visibility: hidden;
                color: #fff;
            }

            svg {
                width: 70px;
                height: 70px;

                rect {
                    fill: none;
                    stroke-width: 70px;
                    stroke: #465C69;
                    stroke-dasharray: 70;
                    stroke-dashoffset: 50%;
                    opacity: 0;
                    animation: loading 2s linear infinite;
                    animation-delay: 2s;
                }
            }
        }

        .row.text {
            bottom: 5%;

            hr {
                background: rgba(255, 251, 0, .2);
                height: 2px;
                width: 0vw;
                transition: width 1s ease-in-out;
                transition-delay: 2s;
            }

            .grow {
                width: 80vw;
            }

            h5 {
                color: #ffffff;
                font-size: 1.3rem;
            }
        }
    }
}

@keyframes hiddenShow {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes textAnimation {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

@keyframes loading {
    0% {
        opacity: 0.5;
        stroke-dashoffset: 250%;
        stroke: #E71D36;
    }

    50% {
        opacity: 0.8;
        stroke-dashoffset: 50%;
        stroke: #388659;
    }

    100% {
        opacity: 0.5;
        stroke-dashoffset: 50%;
        stroke: #05B2DC;
    }
}